# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/NetworkTest/FileContentIndex/244c6c90-f6fb-4e6c-bc0c-ba3868d30e80.vsidx
.vs/NetworkTest/FileContentIndex/4f6b6953-540c-48f7-83e8-82deda23dcaf.vsidx
.vs/NetworkTest/FileContentIndex/6a95804a-a4d0-4828-9987-ee38a0c6bd41.vsidx
.vs/NetworkTest/v17/.suo
.vs/NetworkTest/v17/Browse.VC.db
.vs/NetworkTest/v17/DocumentLayout.json
/.vs/NetworkTest/v17
.vs/NetworkTest/v17/ipch/AutoPCH/cec1d4a02c8f33ea/SERVER.ipch
